# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*

# macOS
.DS_Store

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# PyTorch / model cache
*.pt
*.pth
*.ckptconvert_to_onnx.py

# Model conversion script
convert_to_onnx.py
